<a href="https://colab.research.google.com/github/SAGARIKA-SHAH/Classification_Algorithms/blob/main/DataPreprocessing_Assignment11_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#Data.csv

**Step 1: Importing the libraries**

In [10]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

**Step 2: Importing dataset**

In [11]:
data=pd.read_csv("/content/Data.csv")

In [12]:
data.shape

(10, 4)

In [13]:
data.head(10)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [14]:
data.dtypes

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [15]:
data.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [16]:
#there is no commonly occuring age,we go for median

In [17]:
data.Age.median()

38.0

In [18]:
data.Age=data.Age.fillna(data.Age.median())

In [19]:
sal=data.Salary.mean().round(decimals=1)

In [20]:
data.isnull().sum()

Country      0
Age          0
Salary       1
Purchased    0
dtype: int64

**Step 4: Encoding categorical data**

In [21]:
data.Country.value_counts() #country is not ordinal

France     4
Spain      3
Germany    3
Name: Country, dtype: int64

In [22]:
from sklearn.preprocessing import LabelEncoder
labelEnc=LabelEncoder()
data[['Country']]=data[['Country']].apply(labelEnc.fit_transform)
data.Country.value_counts()

0    4
2    3
1    3
Name: Country, dtype: int64

In [23]:
data.Purchased.value_counts()

No     5
Yes    5
Name: Purchased, dtype: int64

In [24]:
data[['Purchased']]=data[['Purchased']].apply(labelEnc.fit_transform)
data.Purchased.value_counts()

0    5
1    5
Name: Purchased, dtype: int64

**Step 5: Creating a dummy variable**

In [25]:

data_dummy=pd.get_dummies(data,columns=['Country'] )
data_dummy.head(10)

    Age   Salary  Purchased  Country_0  Country_1  Country_2
0  44.0  72000.0          0          1          0          0
1  27.0  48000.0          1          0          0          1
2  30.0  54000.0          0          0          1          0
3  38.0  61000.0          0          0          0          1
4  40.0      NaN          1          0          1          0
5  35.0  58000.0          1          1          0          0
6  38.0  52000.0          0          0          0          1
7  48.0  79000.0          1          1          0          0
8  50.0  83000.0          0          0          1          0
9  37.0  67000.0          1          1          0          0

**Step 6: Splitting the datasets into training sets and Test sets**

In [27]:
x=data_dummy.loc[:,data_dummy.columns!='Purchased']
y=data_dummy['Purchased']

In [28]:

x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.3, random_state=3)
print('x_train:',x_train.shape)
print('x_test:',x_test.shape)

x_train: (7, 5)
x_test: (3, 5)

**Step 7: Feature Scaling**

In [29]:

scaler=StandardScaler()

In [30]:
x_train=scaler.fit_transform(x_train)# we fit model on train data
x_test=scaler.transform(x_test)# we do not fit model on train data.